/* Fond de la page */
.signin-page {
  background-color: #12002b;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Conteneur du formulaire de connexion */
.signin-box {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 18rem;
}

.signin-input-wrapper {
  text-align: left;
  color: #2c3e50;
  font-size: 1rem;
  font-weight: bold;
}

/* Logo de la page */
.signin-logo {
  font-size: 50px;
  color: #00bc77;
  margin-bottom: 20px;
}

/* Titre "Sign In" */
.signin-title {
  font-size: 24px;
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 30px;
}

/* Style des champs de saisie */
.signin-input {
  width: 90%;
  padding: 11px;
  margin-bottom: 1rem;
  border: 1px solid #0c0c0c;
  outline: none;
  transition:
    border-color 0.3s,
    background-color 0.3s;
}

.signin-input:focus {
  border-color: #00bc77;
  outline: none;
}

/* Style du bouton de connexion */
.signin-btn {
  background-color: #00bc77;
  color: #fff;
  width: 105%;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  text-decoration: underline;
  border-radius: 0px;
}

.signin-btn:hover {
  background-color: #009c64;
}

/* Style de la case à cocher Remember me */
.remember-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.remember-wrapper label {
  font-size: 1rem;
  color: #2c3e50;
}

/* Message d'erreur sous les champs de saisie */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
